%h1.matchTitle= t('.title')
%div.column-center-team
  %div.teams
    %table
      %thead
        %tr
          %th.teamInfo= t('.name')
          %th.teamInfo= t('.info')
          %th.teamInfo 
          %th.teamInfo
          %th.teamInfo= t('.players')
          %th.teamInfo
          %th.teamInfo
          %th.teamInfo= t('.actions')
          %th.teamInfo
          %th.teamInfo

      %tbody
        - @teams.each do |team|
          %tr
            %td.teamData= team.name
            %td.teamData= team.info
            - team.players.each do |player|
              %td.teamData=  player.name + " "
            %td.teamData= link_to t('view'), team
            %td.teamData= link_to t('edit'), edit_team_path(team)
            %td.teamData= link_to t('destroy'), team, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to t('.newTeam'), new_team_path
