%h1.matchTitle Listing teams
%div.column-center-team
  %div.teams
    %table
      %thead
        %tr
          %th.teamInfo Name
          %th.teamInfo Info
          %th.teamInfo 
          %th.teamInfo
          %th.teamInfo Players
          %th.teamInfo
          %th.teamInfo
          %th.teamInfo Actions
          %th.teamInfo
          %th.teamInfo

      %tbody
        - @teams.each do |team|
          %tr
            %td.teamData= team.name
            %td.teamData= team.info
            - team.players.each do |player|
              %td.teamData=  player.name + " "
            %td.teamData= link_to 'Show', team
            %td.teamData= link_to 'Edit', edit_team_path(team)
            %td.teamData= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Team', new_team_path
