%p#notice= notice
%div.column-center-team
  %div.teams
    %p.teamTitle= @team.name
    %p
      %b= t('.info')
      = @team.info
    %p
      %b= t('.rank')
      = @team.rank

    %p
      %b= t('.players')
      - @team.players.each do |player|
        = " | " + player.name + " | "

    %p
      %b= t('.matches')

    %table
      %tbody
        - @team.matches.first(10).each do |match|
          %tr
            %td.matchData= match.teamA
            %td.matchData= match.teamAScore
            %td.matchData= match.teamBScore
            %td.matchData= match.teamB
            %td.matchData= link_to t('view'), match
            %br/

    = link_to t('edit'), edit_team_path(@team)
    \|
    = link_to t('back'), teams_path
