%header


%ul.navbar

  %li.navbaritem
    %a.navLink= link_to t('.home'), root_url
  %li.navbaritem
    %a.navLink= link_to t('.matches'), matches_url
  %li.navbaritem
    %a.navLink= link_to t('.players'), players_url
  %li.navbaritem
    %a.navLink= link_to t('.teams'), teams_url
  %li.navbaritem
    %a.navLink= link_to t('.contact'), "/contact"