%h1 Listing players

%table
  %thead
    %tr
      %th Name
      %th Rating
      %th Info
      %th Team
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= player.rating
        %td= player.info
        %td= player.team.name if player.team
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
