%h1.matchTitle= t('.title')
%div.column-center-player
  %div.players
    %table
      %thead
        %tr
          %th.playerInfo= t('.name')
          %th.playerInfo= t('.rating')
          %th.playerInfo= t('.info')
          %th.playerInfo= t('.team')
          %th.playerInfo
          %th.playerInfo= t('.actions')
          %th.playerInfo

      %tbody
        - @players.each do |player|
          %tr
            %td.playerData= player.name
            %td.playerData= player.rating
            %td.playerData= player.info
            %td.playerData= player.team.name if player.team
            %td.playerData= link_to t('view'), player
            %td.playerData= link_to t('edit'), edit_player_path(player)
            %td.playerData= link_to t('destroy'), player, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to t('.addPlayer'), new_player_path
