%p#notice= notice
%div.column-center-player
  %div.players
    %p
    %b= t('.name')
    = @player.name
    %p
    %b= t('.rating')
    = @player.rating
    %p
    %b= t('.info')
    = @player.info
    %p
    %b= t('.team')
    = link_to @player.team.name, @player.team

    %br/

    = link_to t('edit'), edit_player_path(@player)
    \|
    = link_to t('back'), players_path
