= form_for(match) do |f|
  - if match.errors.any?
    #error_explanation
      %h2
        = pluralize(match.errors.count, "error")
        prohibited this match from being saved:
      %ul
        - match.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :"team 1", :class => "form-label"
    = f.collection_select :teamA, @teams, :name, :name
  .field
    = f.label :"team 2", :class => "form-label"
    = f.collection_select :teamB, @teams, :name, :name
  .field
    = f.label :date, :class => "form-label"
    = f.date_select :date
  .field
    = f.label :"Team 1 score", :class => "form-label"
    = f.number_field :teamAScore, max: 50
  .field
    = f.label :"Team 2 score", :class => "form-label"
    = f.number_field :teamBScore, max:50
  .actions
    = f.submit