%p#notice= notice
%h1.matchTitle= t('.title')
%div.column-center-match
  %div.matches
    %table
      %thead
        %tr
          %th.matchInfo= t('.team1')
          %th.matchInfo 
          %th.matchInfo
          %th.matchInfo= t('.team2')
          %th.matchInfo= t('.date')
          %th.matchInfo
          %th.matchInfo= t('.actions')
          %th.matchInfo
      %tbody
        - @matches.each do |match|
          %tr
            %td.matchData= match.teamA
            %td.matchData= match.teamAScore
            %td.matchData= match.teamBScore
            %td.matchData= match.teamB
            %td.matchData= match.date
            %td.matchData= link_to t('view'), match
            %td.matchData= link_to t('edit'), edit_match_path(match)
            %td.matchData= link_to t('destroy'), match, :method => :delete, data: { confirm: 'Are you sure?' }
    %br/
    = link_to t('.newMatch'), new_match_path


