%p#notice= notice
%h1 Matches
%table
  %thead
    %tr
      %th Team 1
      %th Team 2
      %th Date
      %th Info
      %th{:colspan => "3"}
  %tbody
    - @matches.each do |match|
      %tr
        %td= match.teamA
        %td= match.teamB
        %td= match.date
        %td= link_to 'View info', match
        /%td= link_to 'Show', match
        %td= link_to 'Edit', edit_match_path(match)
        %td= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }
%br/

= link_to 'New Match', new_match_path
