%p#notice= notice
%h1.matchTitle Matches
%div.column-center-match
  %div.matches
    %table
      %thead
        %tr
          %th.matchInfo Team 1
          %th.matchInfo 
          %th.matchInfo
          %th.matchInfo Team 2
          %th.matchInfo Date
          %th.matchInfo
          %th.matchInfo
          %th.matchInfo
      %tbody
        - @matches.each do |match|
          %tr
            %td.matchData= match.teamA
            %td.matchData= match.teamAScore
            %td.matchData= match.teamBScore
            %td.matchData= match.teamB
            %td.matchData= match.date
            %td.matchData= link_to 'View info', match
            %td.matchData= link_to 'Edit', edit_match_path(match)
            %td.matchData= link_to 'Destroy', match, :method => :destroy, data: { confirm: 'Are you sure?' }
    %br/
    %p.matchData= link_to 'Add New Match', new_match_path


