%p#notice= notice


%div.column-center-match
  %table
    %thead
      %tr
        %th.match-teams-header= @match.teamA
        %th.match-teams-header Vs
        %th.match-teams-header= @match.teamB
    %tbody
      %tr
        %td.match-score-header= @match.teamAScore
        %td.match-score-header
        %td.match-score-header= @match.teamBScore

%div.column-center-match
  %p.matchInfo
    %strong= t('.date')
    = @match.date

  - @teams.each do |team|
    %h4.match-team-head
      = team.name + t('.players')
    - team.players.each do |player|
      %p.match-team-player-info
        = player.name + " "


  %p.links= link_to t('edit'), edit_match_path(@match)
  %p.links= link_to t('back'), matches_path
